.card1 {
    /// height: 83px;
     background: #ffffff;
     box-shadow: 0px 2px 10px 0px #bcbcbc;
     border-radius: 10px;
     margin: 12px;
   }
   img{
   padding: 10px 20px;
  // border-radius: 0px 0px 46px 0px;
   }
   p{
  

 
    font-size: small;
    font-family: initial;
    font-weight: 900;
}