<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-black"></ion-back-button>
    </ion-buttons>
    <ion-title>Choose You Interests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="p-3">
    <div class="flex justify-between p-1">
      <ion-label class="text-black font-bold text-md">Choose You Interests</ion-label>
    </div>
    <div class=" p-1">
      <p class="text-gray-400 text-sm">Get Personalized item recommendations</p>
    </div>


    <ion-row>
      <ion-col size="6">
        <div class="flex justify-start bg-white rounded-md shadow-md p-2">
          <img width="40" height="40" src="assets/c1.png" alt="">
          <ion-label class="text-black font-bold text-sm  pl-2 mt-2">Asian</ion-label>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="flex justify-start bg-white rounded-md shadow-md p-2">
          <img width="40" height="40" src="assets/c2.png" alt="">
          <ion-label class="text-black font-bold text-sm  pl-2 mt-2">Special Gifts</ion-label>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="flex justify-start bg-white rounded-md shadow-md p-2">
          <img width="40" height="40" src="assets/c1.png" alt="">
          <ion-label class="text-black font-bold text-sm  pl-2 mt-2">Asian</ion-label>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="flex justify-start bg-white rounded-md shadow-md p-2">
          <img width="40" height="40" src="assets/c2.png" alt="">
          <ion-label class="text-black font-bold text-sm pl-2 mt-2">Special Gifts</ion-label>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="flex justify-start bg-white rounded-md shadow-md p-2">
          <img width="40" height="40" src="assets/c1.png" alt="">
          <ion-label class="text-black font-bold text-sm  pl-2 mt-2">Asian</ion-label>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="flex justify-start bg-white rounded-md shadow-md p-2">
          <img width="40" height="40" src="assets/c2.png" alt="">
          <ion-label class="text-black font-bold text-sm  pl-2 mt-2">Special Gifts</ion-label>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="flex justify-start bg-white rounded-md shadow-md p-2">
          <img width="40" height="40" src="assets/c1.png" alt="">
          <ion-label class="text-black font-bold text-sm  pl-2 mt-2">Asian</ion-label>
        </div>
      </ion-col>

      <ion-col size="6">
        <div class="flex justify-start bg-white rounded-md shadow-md p-2">
          <img width="40" height="40" src="assets/c2.png" alt="">
          <ion-label class="text-black font-bold text-sm pl-2 mt-2">Special Gifts</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </div>


</ion-content>
 <ion-footer>
  <ion-toolbar>
    <div class="p-2">
      <button align="center" style="background-color: #06a058; " type="button"
      class="w-full text-white focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-4  dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2">
     Save & Continue
    </button>
    </div>
  </ion-toolbar>
 </ion-footer>