<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>emp-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of list">
      <ion-avatar slot="start">
        <ion-img src="assets/profile.png"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{item.company_name}}</h2>
        <p>{{item.phone_number}}</p>
        <span *ngIf="item.is_active=='1'" style="float: right; color: green; font-size: small;">Active</span>
      <span *ngIf="item.is_active=='0'" style="float: right; color: red; font-size: small;">Deactive</span>
      
      </ion-label>
      
    </ion-item>
   
  </ion-list>
</ion-content>
