<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-white"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-app-title">Forgot password</ion-title>
    <ion-icon
      class="pr-3"
      color="light"
      style="visibility: hidden"
      slot="end"
      name="ellipsis-vertical"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="p-5">
    <div align="center" class="pb-2">
      <img src="assets/forgot.png" alt="">
      <p class="text-sm text-gray-400 text-left">Please enter your registered  Mobile Number so that we can help you to recover your password.
      </p>
    </div>

  
    <form class="w-full max-w-lg">
      <div class="flex flex-wrap -mx-3 mb-6">
        <ion-row>
            

          <ion-col size="12">
            <div
              class="flex justify-staer peer m-0 block h-[38px] w-full rounded-lg bg-white bg-clip-padding text-base font-normal">
              <ion-icon class="text-gray-300 mt-4 pl-3" name="lock-closed"></ion-icon>
              <ion-item lines="none">
                <ion-input placeholder="Email"  
                
                [(ngModel)]="email"
                name="email"></ion-input>
              
              </ion-item>
            </div>
          </ion-col>

         

          <ion-col size="12">
            <button align="center" style="background-color: #06a058; " type="button" (click)="submit()"
              class="w-full text-white focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-4  dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2">
              Next
            </button>
          </ion-col>
        </ion-row>



      </div>
    </form>


  </div>
</ion-content>