.carttoolbar{
    
    --background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
  
}

.background {
  //  background-image: url("/assets/images/splash.jpg");
    background-size: cover; /* Adjust the size of the image to cover the container */
    background-position: center; /* Center the image horizontally and vertically */
    height: 100%; /* Set the height to occupy the full height of the parent container */
    padding: 2rem;
  }